<div id="delete_confirm_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">		
		<h3 id="myModalLabel">Excluir usuário</h3>
	</div>
	
	<div class="modal-body">
		<p>Deseja remover este usuário?</p>
	</div>
	<div class="modal-footer">
		<input type="hidden" id="user_id" value="" />
		<button class="btn" data-dismiss="modal" aria-hidden="true">Não</button>
		<button class="btn btn-primary delete">Sim</button>
	</div>
</div>