<div class="navbar">
	<div class="navbar-inner">    
		<ul class="nav">
			<li><a href="javascript:void(0);" id="user_list"><i class="icon-th icon-black"></i> Listar</a></li>
			<li><a href="javascript:void(0);" id="create_user_form"><i class="icon-plus-sign icon-black"></i> Cadastrar</a></li>
		</ul>
	</div>
</div>

<div id="loading" style="display: none; text-align: center;" class="loading_img">
	<img src="ui/img/indicator.gif"/>
</div>

<div id="alerta_danger" class="alert alert-danger alert-dismissable" style="display: none;">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<span class="alertas_mensagem"></span>
</div>
<div id="alerta_success" class="alert alert-success alert-dismissable" style="display: none;">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<span class="alertas_mensagem"></span>
</div>